/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML & Body Setup */
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#box {
  height: 60%;
  width: 50%;
  background-color: lightcoral;
  border-radius: 30px;
  border: 4px solid white;
}

button{
  border-radius: 10px;
  cursor: pointer;
  /* height: 50px; */
  border: none;
}

button:active{
  scale: 0.95;
}