/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML & Body Setup */
html, body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    background: linear-gradient(#0b8793,#360033);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 40px;
}


#box{
  margin-top: 4rem;
    height: 70%;
    width: 70%;
    background-color: rgb(9, 147, 147);
    /* border:  5px solid lightgrey; */
    border-radius: 40px;
}

button{
    height: 4rem;
    width: 10em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background:linear-gradient(transparent,lightblue,white);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4rem;
    font-weight: 900;
    pointer-events:stroke;
    border: none;
    cursor: pointer;
}

button:active{
  scale: 0.95;
  
}