@font-face {
    font-family: chill;
    src: url(./Chillax-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: rgb(61, 58, 58);
    display: flex;
}

.clm-part1 {
    height: 100%;
    width: 20%;
    background-color: black;
}

#left-part1 {
    height: 13rem;
    width: 100%;

    .navsec1 {
        height: 70px;
        display: flex;
        align-items: end;
        justify-content: center;
        gap: 20px;
        // border: 1px solid white;
        width: 60%;
        // background-color: yellow;
        font-family: chill;

        h3 {
            color: white;
            font-size: 15px;
        }

        i {
            color: white;
            font-size: 22px;
        }
    }


}

#left-part2 {
    height: 25rem;
    width: 100%;
    // background-color: red;

    img{
        height: 100%;
        width: 100%;
        background-size: cover;
        margin-top: 3rem;
        margin-left: 1rem;
    }

}


.clm-part2 {
    height: 100%;
    // background-color: red;
    width: 80%;
    background: linear-gradient(#2F4D69, #111111, #1a1a1a);

    #right-part1{
        height: 300px;
        width: 100%;
        // background-color: red;

        img{
            height: 80%;
            width: 100%;
            object-fit: cover;
        }

    }

    #right-part2{
        height: 50%;
        width: 100%;
        // background-color: red;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        h1{
            color: white;
            font-weight: 600;
            font-size: 20px;
            padding-left: 20px;
        }

        .right-part1{
            height: 15rem;
            width: 100%;
            margin-top: 2rem;
            display: flex;
            .images{
                height: 100%;
                width: 15rem; 
                position: relative;
                img{
                    height: 80%;
                    width: 85%;
                    object-fit: cover;
                    border-radius: 10px;
                }
                button{
                    border: none;
                    height: 50px;
                    width: 50px;
                    background-color: lightgreen;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 55%;
                    left: 60%;
                    i{
                        color: black;
                        font-size: 30px;
                    }
                }
                button:active{
                    scale: 0.95;
                }
                

            }
        }

    }

    #right-part3{
        height: 10%;
        width: 100%;
        // background-color: rgb(85, 78, 78);

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
