/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML & Body Setup */
html, body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-weight: 500;
}

#main{
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

#nav{
  height: 100px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: start;
  padding: 0px 100px;
  font-size: 10px;
}

#nav-part1{
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;  
  font-weight: 500;
  gap: 20px;
}

#nav-part2{
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: end;
}

#text{
  font-size: 20px;
  color: white;
}

#parts{
  height: 89.5vh;
  width: 100vw;
  background-color: red;
}