/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML & Body Setup */
html, body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-black-color);
  color: var(--bg-white-color);
}

:root{
    --bg-black-color : #0d0d0d;
    --bg-white-color : #f0f0f0;
}





