@font-face {
  font-family: tt;
  src: url(./fonst/TT\ Commons\ ExtraBold.otf);
}
@font-face {
  font-family: light;
  src: url(./fonst/TT\ Commons\ ExtraLight.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.view1 {
  width: 100%;
  padding: 50px 30px;
}
.view1 .top {
  font-family: tt;
  font-size: 2.2rem;
  line-height: 1;
  font-weight: 800;
  text-align: center;
}
.view1 .top p {
  font-size: 20px;
  padding-top: 20px;
  font-family: light;
}
.view1 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
.view1 .bottom .btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 2rem;
  gap: 0.8rem;
}
.view1 .bottom .btn .btn2 {
  background-color: blue;
}
.view1 .bottom .btn button {
  padding: 1rem 5rem;
  border-radius: 5px;
}
.view1 .bottom .btn button a .btn1 {
  background-color: white;
  border: none !important;
  font-size: 1.1rem !important;
}
.view1 .bottom .btn button a .btn2 {
  background-color: blue;
  color: white;
  font-size: 1.1rem !important;
}
.view1 .bottom .video {
  width: 100%;
}
.view1 .bottom .video iframe {
  width: 100% !important;
  border-radius: 50px;
  height: 250px;
}

.view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  gap: 3rem;
}
.view2 .top {
  width: 100%;
}
.view2 .top h2 {
  font-size: 2.3rem;
}
.view2 .top #span1 {
  color: #FF6375;
}
.view2 .top #span2 {
  color: #FDA801;
}
.view2 .top #span3 {
  color: #00B4A9;
}
.view2 .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.view2 .bottom .card1 {
  background-color: #FF6375;
  border-radius: 20px;
  width: 100%;
}
.view2 .bottom .card1 .img {
  width: 100% !important;
}
.view2 .bottom .card2 {
  border-radius: 20px;
}
.view2 .bottom .card2 .card2 img {
  border-radius: 20px;
}
.view2 .bottom .card3 {
  border-radius: 20px;
  background-color: #00B4A9;
}

.view3 {
  width: 100%;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: tt;
}
.view3 .top {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.view3 .top h4 {
  color: #B35DF8;
  font-size: 1.1rem;
}
.view3 .top p {
  font-size: 3rem;
  line-height: 1;
}
.view3 .bottom {
  width: 100%;
}
.view3 .bottom .card {
  padding: 30px;
  border-radius: 20px !important;
  background: linear-gradient(#E1E2E2, #B5B5B3);
  display: flex;
  flex-direction: column;
}
.view3 .bottom .card .part1 {
  width: 100%;
}
.view3 .bottom .card .part1 h4 {
  color: #B35DF8;
}
.view3 .bottom .card .part1 h1 {
  font-size: 2.5rem !important;
}
.view3 .bottom .card .part1 p {
  font-size: 1.4rem;
  font-family: light;
}
.view3 .bottom .card .part2 {
  width: 100%;
}
.view3 .bottom .card .part2 .imges {
  width: 100%;
  position: absolute;
  top: 34px;
  left: 30px;
}

.view4 {
  width: 100%;
  font-family: tt;
  text-align: center;
}
.view4 .grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid: 2rem;
}
.view4 .grid1 {
  width: 70%;
  position: relative;
}
.view4 .grid1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  margin-top: 1rem;
}

.view5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: tt;
}
.view5 .middle-div {
  width: 100%;
  display: flex;
  flex-direction: column !important;
}
.view5 .middle-div .top {
  width: 100% !important;
}
.view5 .middle-div .top h1 {
  width: 100%;
  text-align: center;
}
.view5 .middle-div .top .text {
  padding: 1rem;
}
.view5 .middle-div .top .text h4 {
  font-weight: 500;
}
.view5 .middle-div .top .text p {
  font-family: light;
}
.view5 .middle-div .bottom {
  width: 100%;
}
.view5 .middle-div .bottom img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1rem;
}

@media screen and (min-width: 900px) {
  .view1 {
    width: 100%;
    padding-top: 4rem;
  }
  .view1 .top {
    width: 100%;
  }
  .view1 .top h1 {
    font-size: 7.5rem;
  }
  .view1 .top p {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .view1 .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .view1 .bottom .btn {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center;
  }
  .view1 .bottom .btn button {
    padding: 2rem 5rem;
  }
  .view1 .bottom .video {
    width: 55%;
  }
  .view1 .bottom .video iframe {
    width: 100%;
    height: 35rem;
  }
  .view2 {
    width: 100%;
    padding: 3rem 6rem;
  }
  .view2 .top {
    width: 100%;
  }
  .view2 .top h2 {
    font-size: 4.1rem;
  }
  .view2 .bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .view2 .bottom .card1,
  .view2 .bottom .card2,
  .view2 .bottom .card3 {
    width: 33%;
    height: 715px;
  }
  .view2 .bottom .card2 {
    height: 100px !important;
  }
  .view2 .bottom .card1 img {
    height: 120% !important;
    width: 120% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .view3 {
    width: 100%;
  }
  .view3 .top {
    width: 100%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .view3 .top h4 {
    font-size: 2rem;
  }
  .view3 .top p {
    text-align: center;
    width: 55%;
  }
  .view3 .bottom {
    display: flex;
    flex-direction: row !important;
  }
  .view3 .bottom .card {
    display: flex;
    flex-direction: row !important;
    padding: 4rem;
  }
  .view3 .bottom .card .part1 {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }
  .view3 .bottom .card h4 {
    color: #B35DF8;
    font-size: 2rem;
  }
  .view3 .bottom .card .part2 {
    position: relative;
  }
  .view3 .bottom .card .part2 .imges {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  .view4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  .view4 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .view5 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .view5 .middle-div {
    width: 80%;
    display: flex;
    flex-direction: row-reverse !important;
    justify-content: space-between;
  }
  .view5 .middle-div .top {
    width: 45%;
  }
  .view5 .middle-div .top .text {
    font-size: 1.5rem;
  }
  .view5 .middle-div .bottom {
    width: 45%;
  }
}/*# sourceMappingURL=style.css.map */